@import "tailwindcss";

@theme{
  --text-*:initial;  
  --text-xs: clamp(0.5425rem, 0.5086rem + 0.1695vw, 0.64rem);
  --text-sm: clamp(0.7813rem, 0.7052rem + 0.3804vw, 1rem);
  --text-base:clamp(0.9375rem, 0.8288rem + 0.5435vw, 1.25rem);
  --text-lg: clamp(1.125rem, 0.9728rem + 0.7609vw, 1.5625rem);

--text-xl:clamp(1.35rem, 1.1402rem + 1.0489vw, 1.9531rem);
--text-2xl:clamp(1.62rem, 1.3343rem + 1.4285vw, 2.4414rem);
--text-3xl:clamp(1.62rem, 1.3343rem + 1.4285vw, 2.4414rem);
--text-4xl:clamp(1.944rem, 1.5587rem + 1.9265vw, 3.0518rem);
--text-5xl:clamp(2.3328rem, 1.8174rem + 2.5772vw, 3.8147rem);
--text-6xl:clamp(2.7994rem, 2.1145rem + 3.4244vw, 4.7684rem);
--text-7xl:clamp(3.3592rem, 2.4545rem + 4.5239vw, 5.9605rem);

--color-grass: oklch(0.79 0.1623 128.21 / 71%);
--color-fire: oklch(0.58 0.245 27.325 / 71%);
--color-water: oklch(0.51 0.262 276.966 / 71%);
--color-bug: oklch(0.65 0.136 130.87 / 71%);
--color-flying: oklch(0.67 0.1 116 / 71%);
--color-poison: oklch(0.71 0.123 318.79 / 74%);
--color-normal: oklch(0.49 0.03 256.802 / 71%);
--color-rock: oklch(0.6 0.1224 96.22 / 78.75%);
--color-electric: oklch(0.88 0.1677 99.86 / 95.02%);
--color-fairy: oklch(0.86 0.1009 337.48 / 78.95%);
--color-fighting: oklch(0.66 0.1588 47.23 / 71%);
--color-psychic: oklch(0.71 0.1953 346.66 / 77%);
--color-ground: oklch(0.68 0.1076 96.15 / 72.17%);
--color-ghost: oklch(0.55 0.1005 301.16 / 78.56%);
--color-ice: oklch(0.77 0.1132 221.54 / 77.25%);
--color-pkms-yellow: oklch(0.86 0.1758 89.84);
--color-pkms-blue: oklch(0.51 0.1286 259.16);
--color-pkms-dark-blue: oklch(0.35 0.098 264.56);

}
.grass, .bug{
    background-color: var(--color-grass);
}
.bug{
    background-color: var(--color-bug);
}
.fire{
    background-color: var(--color-fire);
}
.water{
    background-color: var(--color-water);
}
.normal, .steel{
    background-color: var(--color-normal);
}
.poison {
    background-color: var(--color-poison);
}
.electric{
    background-color: var(--color-electric);
}
.fairy{
    background-color: var(--color-fairy);
}
.fighting{
    background-color: var(--color-fighting);
}
.psychic{
    background-color: var(--color-psychic);
}
.rock{
    background-color: var(--color-rock);
}
.ghost{
    background-color: var(--color-ghost);
}
.ice, .flying{
    background-color: var(--color-ice);
}
.ground{
    background-color: var(--color-ground);
}
.close{
    display: none;
}
.spinner {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .spinner img {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }
  
  .hide {
    display: none;
  }
  .monster-scalup img{
    width:80%;  
    transition: all .6s ease-in-out;

  }
.monster-scalup:hover img{
transform: scale(1.3); 
}
.modal-open{
    overflow: hidden;
    height:100%;
}