@import "tailwindcss";

@theme{
--color-grass: oklch(0.67 0.1 116 / 71%);
--color-fire: oklch(0.58 0.245 27.325 / 71%);
--color-water: oklch(0.51 0.262 276.966 / 71%);
--color-bug: oklch(0.67 0.1 116 / 71%);
--color-flying: oklch(0.67 0.1 116 / 71%);
--color-poison: oklch(0.71 0.123 318.79 / 74%);
--color-normal: oklch(0.49 0.03 256.802 / 71%);
--color-rock: oklch(0.6 0.1224 96.22 / 78.75%);
--color-electric: oklch(0.88 0.1677 99.86 / 95.02%);
--color-fairy: oklch(0.86 0.1009 337.48 / 78.95%);
--color-fighting: oklch(0.66 0.1588 47.23 / 71%);
--color-psychic: oklch(0.71 0.1953 346.66 / 77%);
--color-ground: oklch(0.68 0.1076 96.15 / 72.17%);
--color-ghost: oklch(0.55 0.1005 301.16 / 78.56%);
--color-ice: oklch(0.77 0.1132 221.54 / 77.25%);
}
.grass, .bug{
    background-color: var(--color-grass);
}
.fire{
    background-color: var(--color-fire);
}
.water{
    background-color: var(--color-water);
}
.normal, .steel{
    background-color: var(--color-normal);
}
.poison {
    background-color: var(--color-poison);
}
.electric{
    background-color: var(--color-electric);
}
.fairy{
    background-color: var(--color-fairy);
}
.fighting{
    background-color: var(--color-fighting);
}
.psychic{
    background-color: var(--color-psychic);
}
.rock{
    background-color: var(--color-rock);
}
.ghost{
    background-color: var(--color-ghost);
}
.ice, .flying{
    background-color: var(--color-ice);
}
.close{
    display: none;
}
.spinner {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .spinner img {
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
  }
  
  .hide {
    display: none;
  }